<html>
<head>
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
	
</head>
<body ng-app="coinbaseMarkets">
	<div id='content' class='container-fluid' data-ng-controller='GraphCtrl'>
		
		 <div class='span10 main well'>      
			<div><h2><span id="graph-title"></span></h2></div>
			<p><a href="#" class="btn btn-primary" id="refresh-button">Refresh</a></p>
		    <svg cbm-graph="" id=stats-graph class='span10'></svg>
		 </div>
		 <div class='span2'>
		 	<div class='well sidebar-nav'>
			  	<ul class="nav nav-list">
			  		<li><a href="" id="category-buy" ng-click="onBuyClick()">Buy</a></li>
			  		<li><a href="" id="category-sell" ng-click="onSellClick()">Sell</a></li>
			  	</uL>
			</div>
		 </div>	
		 
	 </div>	        
		        
</body>
		
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>-->
  <script src="bower_components/angular/angular.js"></script>
  <script src="app/app.js"></script>
  <script src="app/graph/controllers/GraphCtrl.js"></script>
  <script src="app/graph/directives/graphDirective.js"></script>
  <script src="app/graph/services/coinbaseMarketsAPIFactory.js"></script>
		
</html>