doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='/js/graph.js')
    
  body
  
    h1= title
    p Welcome to #{title}
    p Data:
  
    each datum in data
      p #{datum}