doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='/js/kdtree.js')
    script(src='/js/graph.js')
    
  body
  
    h1= title
  
    #content.container-fluid
      .row-fluid
        .span10.main.well
          div
            h2 
              span#graph-title Temp Title
            svg#coinbase-graph.span10
        .span2
          .well.sidebar-nav
            ul.nav.nav-list
              li 
                a#category-buy(href='#') Buy
              li 
                a#category-sell(href='#') Sell
            